
secrets.ps1
*.pem
secrets.sh

__pycache__/
*.pyc
*.pem


# Ignorer l'environnement virtuel
venv/
env/
env2/

# Ignorer les fichiers de cache Python
__pycache__/
*.py[cod]

# Ignorer les fichiers de logs
*.log

# Ignorer les fichiers de configuration spécifiques à l'IDE
.vscode/
.idea/

# Ignorer les fichiers de dépendances
*.egg-info/


photos_test/
data_4/
data_24/


webapp_API/my_app/.env

